<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter of Attorney Creator</title>
    <!-- Links to our stylesheets -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <header class="pageheader">
        <img src="{% static 'img/logo.png' %}" alt="Company Logo" class="logo">
    </header>

    <main>
        <h1>Bem vindo!</h1>
        <br>
        <p>Explicar aqui o que o programa faz</p>
        <br>
        <a href="{% url 'index' %}">Acesse o formulário</a>
    </main>

    <footer class="page-footer">
        <p>E-mail: contato@meudominio.com | Telefone: (00) 0000-0000 | Endereço: Rua Exemplo, 00, Bairro, Cidade, Estado</p>
    </footer>
</body>
</html>