<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter of Attorney Creator</title>
    <!-- Links to our stylesheets -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <h1>Bem vindo!</h1>
    <br>
    <p>Explaining here what the program does</p>
    <br>
    <a href="{% url 'index' %}">Acesse o formulário</a>
</body>
</html>