<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter of Attorney Creator</title>
    <!-- Links to our stylesheets -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <header class="pageheader">
        <img src="{% static 'img/logo.png' %}" alt="Company Logo" class="logo">
    </header>

    <main>
        <h1>Procuração Automática</h1>
        <br>
        <p>Este programa gera automaticamente Instrumento de Procuração, documento necessário à outorga de poderes do cliente ao seu patrono, essencial à prática da advocacia. Foi projetado como ferramenta a ser utilizada pelos escritórios de advocacia, com o objetivo de agilizar trabalho jurídico diário.</p>
        <br>
        <a href="{% url 'index' %}">Acesse o formulário</a>
    </main>

    <footer class="page-footer">
        <p>E-mail: contato@meudominio.com | Telefone: (00) 0000-0000 | Endereço: Rua Exemplo, 00, Bairro, Cidade, Estado</p>
    </footer>
</body>
</html>