<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter of Attorney Creator</title>
    <!-- Links to our stylesheets -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>

    <header class="pageheader">
        <img src="{% static 'img/logo.png' %}" alt="Company Logo" class="logo">
    </header>
    
    <main>
        <h1>Letter of Attorney Creator</h1>
        <br><br><br>
        <section class="wrapper-main">
            <form action="{% url 'letter' %}" method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <br>
                        <input type="text" id="name" name="name" placeholder="Nome" required>
                    </div>

                    <div class="form-group">
                        <label for="profession">Profissão</label>
                        <br>
                        <input type="text" id="profession" name="profession" placeholder="Profissão" required>
                    </div>

                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <br>
                        <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00">
                    </div>
                
                    <div class="form-group">
                        <label for="identity_card">RG</label>
                        <br>
                        <input type="text" id="identity_card" name="identity_card" placeholder="00.000.000-0" required>
                    </div>

                    <div class="form-group">
                        <label for="nationality">Nacionalidade</label>
                        <br>
                        <input type="text" id="nationality" name="nationality" placeholder="Nacionalidade" required>
                    </div>

                    <div class="form-group">
                        <label for="maritalstatus">Estado Civil:</label>
                        <br>
                        <select name="maritalstatus" id="maritalstatus">
                            <option value="Single">Solteiro(a)</option>
                            <option value="Married">Casado(a)</option>
                            <option value="Divorced">Divorciado(a)</option>
                            <option value="Widowed">Viúvo(a)</option>
                            <option value="Separated">Separado(a)</option>
                        </select>
                    </div>

                    <div class="form-group">  
                        <label for="email">E-mail</label>
                        <br>
                        <input type="email" id="email" name="email" placeholder="E-mail">
                    </div>

                    <div class="form-group">
                        <label for="street">Endereço</label>
                        <br>
                        <input type="text" id="street" name="street" placeholder="Endereço" required>
                    </div>

                    <div class="form-group">
                        <label for="city">Cidade</label>
                        <br>
                        <input type="text" id="city" name="city" placeholder="Cidade" required>
                    </div>

                    <div class="form-group">
                        <label for="state">Estado</label>
                        <br>
                        <input type="text" id="state" name="state" placeholder="Estado" required>
                    </div>

                    <div class="form-group">
                        <label for="zipcode">CEP</label>
                        <br>
                        <input type="text" id="zipcode" name="zipcode" placeholder="00000-000" required>
                    </div>

                    <div class="form-group">
                        <label for="country">País</label>
                        <br>
                        <input type="text" id="country" name="country" placeholder="País" required>
                    </div>
                </div>
                <br><br>
                <fieldset>
                    <legend>Poderes a serem outorgados:</legend>
                    <br>
                    <input type="checkbox" id="receiveservicepower" name="powers[]" value="receber citação" checked>
                    <label for="receiveservicepower">receber citação</label>
                    <input type="checkbox" id="representpower" name="powers[]" value="representar" checked>
                    <label for="representpower">representar</label>
                    <input type="checkbox" id="settlepower" name="powers[]" value="firmar acordo" checked>
                    <label for="settlepower">firmar acordo</label>
                    <input type="checkbox" id="agreepower" name="powers[]" value="concordar" checked>
                    <label for="agreepower">concordar</label>
                    <input type="checkbox" id="desistpower" name="powers[]" value="desistir" checked>
                    <label for="desistpower">desistir</label>
                    <input type="checkbox" id="receivepaymentspower" name="powers[]" value="receber valores" checked>
                    <label for="receivepaymentspower">receber valores</label>
                    <input type="checkbox" id="issuereceiptspower" name="powers[]" value="dar quitação" checked>
                    <label for="issuereceiptspower">dar quitação</label>
                    <input type="checkbox" id="delegatepower" name="powers[]" value="subtabelecer com ou sem reserva os poderes conferidos pelo presente mandato" checked>
                    <label for="delegatepower">subtabelecer com ou sem reserva os poderes conferidos pelo presente mandato</label>
                </fieldset>
                <br><br>
                <button type="submit" value="submit">Submeter</button>
            </form>
        </section>
    </main>

    <footer class="page-footer">
        <p>E-mail: contato@meudominio.com | Telefone: (00) 0000-0000 | Endereço: Rua Exemplo, 00, Bairro, Cidade, Estado</p>
    </footer>
</body>
</html>