<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Instrumento de Procuração</title>
        <!-- Links to our stylesheets -->
        {% load static %}
        {% if not is_pdf %}
            <link rel="stylesheet" href="{% static 'reset.css' %}">
            <link rel="stylesheet" href="{% static 'main.css' %}">
        {% endif %}
    </head>
    <body>
        <div class="pageheader">
            {% if is_pdf %}
            <img src="{% static 'img/logo.png' %}" alt="Company Logo" class="pdf-logo">
            {% else %}
                <img src="{% static 'img/logo.png' %}" alt="Company Logo" class="logo">
            {% endif %}
        </div>

        <div class="content">
            <h1>Instrumento de Procuração</h1>
            {% if not is_pdf %}
                <br><br><br>
            {% endif %}
            <p class="letter-text">
                <span class="bold-underlined">OUTORGANTE</span>: {{ name }}, {{ nationality }}, {{ maritalstatus }}, {{ profession }}, 
                inscrito(a) no CPF nº {{ cpf }}, portador(a) do RG nº {{ identity_card }}, residente e domiciliada à {{ street }}, {{ city }},
                {{ state }}, {{ country }}, CEP {{ zipcode }}.<br>
                E-mail: {{ email}}.
                <br><br>
                <span class="bold-underlined">OUTORGADA</span>: A presente procuração é concedida à advogada Luiza Campos Lemos, inscrita na OAB/RJ sob o nº 000.000,
                com endereço profissional na Rua Exemplo, 00, Bairro, Cidade, Estado, CEP 00000-000.
                <br><br> 
                <span class="bold-underlined">PODERES</span>: O(a) outorgante nomeia a outorgada sua procuradora, conferindo-lhe os poderes da cláusula "ad judicia" e "ad extra",
                conjunta ou separadamente, para representá-lo(a) em juízo ou fora dele, outorgando-a ainda os especiais poderes
                para {{ powers|join:", " }}.      
            </p>
            <br><br>

            {% if not is_pdf %}
                <form action="{% url 'download_pdf' %}" method="post">
                    {% csrf_token %}
                    
                    <input type="hidden" name="name" value="{{ name }}">
                    <input type="hidden" name="nationality" value="{{ nationality }}">
                    <input type="hidden" name="maritalstatus" value="{{ maritalstatus }}">
                    <input type="hidden" name="profession" value="{{ profession }}">
                    <input type="hidden" name="cpf" value="{{ cpf }}">
                    <input type="hidden" name="identity_card" value="{{ identity_card }}">
                    <input type="hidden" name="street" value="{{ street }}">
                    <input type="hidden" name="city" value="{{ city }}">
                    <input type="hidden" name="state" value="{{ state }}">
                    <input type="hidden" name="country" value="{{ country }}">
                    <input type="hidden" name="zipcode" value="{{ zipcode }}">
                    <input type="hidden" name="email" value="{{ email }}">

                    {% for power in powers %}
                        <input type="hidden" name="powers[]" value="{{ power }}">            
                    {% endfor %}

                    <button type="submit" class="download-button">Download PDF</button>
                </form>
            {% endif %}
        </div> 
        
        {% if is_pdf %}
            <div class="pdf-footer" >
                <p>E-mail: contato@meudominio.com | Telefone: (00) 0000-0000 | Endereço: Rua Exemplo, 00, Bairro, Cidade, Estado</p>
            </div>
        {% else %}
            <div class="page-footer" >
                <p>E-mail: contato@meudominio.com | Telefone: (00) 0000-0000 | Endereço: Rua Exemplo, 00, Bairro, Cidade, Estado</p>
            </div>
        {% endif %}
    </body>
</html>