<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Letter of Attorney</title>
    </head>
    <body>
        <h1>Letter of Attorney</h1>
        <br>
        <p>
            GRANTOR: {{ name }}, {{ nationality }}, {{ maritalstatus }}, {{ profession }}, 
            registered with CPF nº {{ cpf }} and RG nº {{ identity_card }}, residing at {{ street }}, {{ city }},
            {{ state }}, {{ country }}, Zip Code {{ zipcode }}.<br>
            Email: {{ email}}.
            <br><br>
            GRANTEE: This power of attorney is granted to attorney Luiza Campos Lemos, registered with the OAB/RJ nº 224.024,
            with professional address at Rua General Pereira da Silva, 90, 1603, Icaraí, Niterói - RJ, Zip Code 24220031.
            <br><br> 
            POWERS: The grantor appoints the grantee as her attorney-in-fact, granting her powers under the clauses "ad judicia"
            and "ad extra", jointly or separately, to represent the grantor in court or outside of it. The grantee is also granted
            special powers to receive service of process, to agree, settle, admit, dissent, withdraw, negotiate, enter into 
            commitments, acknowledge the legitimacy of claims, waive rights on which legal actions are based, receive and issue 
            receipts, enforce and comply with judicial and extrajudicial decisions and instruments, collect amounts and withdraw
            judicial warrants issued in the name of the grantor, make commitments and declare financial hardship, appoint 
            representatives, and to delegate (with or without reservation) the powers granted herein.      
        </p>
    </body>
</html>