<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Letter of Attorney</title>
    </head>
    <body>
        <h1>Letter of Attorney</h1>
        <br>
        <p>
            GRANTOR: {{ name }}, {{ nationality }}, {{ maritalstatus }}, {{ profession }}, 
            registered with CPF nº {{ cpf }} and RG nº {{ identity_card }}, residing at {{ street }}, {{ city }},
            {{ state }}, {{ country }}, Zip Code {{ zipcode }}.<br>
            Email: {{ email}}.
            <br><br>
            GRANTEE: This power of attorney is granted to attorney Luiza Campos Lemos, registered with the OAB/RJ nº 224.024,
            with professional address at Rua General Pereira da Silva, 90, 1603, Icaraí, Niterói - RJ, Zip Code 24220031.
            <br><br> 
            POWERS: The grantor appoints the grantee as her attorney-in-fact, granting her powers under the clauses "ad judicia"
            and "ad extra", jointly or separately, to represent the grantor in court or outside of it. The grantee is also granted
            special powers to {{ powers|join:", " }}.      
        </p>
        <br><br>

        {% if not is_pdf %}
            <form action="{% url 'download_pdf' %}" method="post">
                {% csrf_token %}
                
                <input type="hidden" name="name" value="{{ name }}">
                <input type="hidden" name="nationality" value="{{ nationality }}">
                <input type="hidden" name="maritalstatus" value="{{ maritalstatus }}">
                <input type="hidden" name="profession" value="{{ profession }}">
                <input type="hidden" name="cpf" value="{{ cpf }}">
                <input type="hidden" name="identity_card" value="{{ identity_card }}">
                <input type="hidden" name="street" value="{{ street }}">
                <input type="hidden" name="city" value="{{ city }}">
                <input type="hidden" name="state" value="{{ state }}">
                <input type="hidden" name="country" value="{{ country }}">
                <input type="hidden" name="zipcode" value="{{ zipcode }}">
                <input type="hidden" name="email" value="{{ email }}">

                {% for power in powers %}
                    <input type="hidden" name="powers[]" value="{{ power }}">            
                {% endfor %}

                <button type="submit">Download PDF</button>
            </form>
        {% endif %}
    </body>
</html>