.pageheader {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #e99416;
}

.logo {
    height: 70px;
    width: auto; 
    margin: 10px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 28px;
    margin-top: 40px;
}

body {
    font-family: 'Montserrat Light', sans-serif;
    color: #e99416;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 77);
    margin: 0;
}

main {
    flex: 1;
    margin: 0 40px 60px 40px;
}

.wrapper-main {
    width: 500px;
    margin: 0 auto;
}

textarea, 
input {
    border: 1px solid #ccc;
}

textarea:focus, 
input[type="text"]:focus,
input[type="email"]:focus {
    outline: 1px solid rgb(63, 61, 61);
}

textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}

input[type="checkbox"] {
    appearance: checkbox;
}

select {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
}

button {
    color: rgb(20, 20, 77);
    background-color: #e99416;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Montserrat Light', sans-serif;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;       /* efeito suave no hover */
    width: auto;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    box-sizing: border-box;
}

button:hover {
    background-color: rgb(250, 202, 106);
}

.form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.form-group {
    flex: 1;
    min-width: 200px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

p {
    text-align: justify;
}

.bold-underlined {
    font-weight: bold;
    text-decoration: underline;
}

.page-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: #e99416;
    font-size: 10px;
}

.page-description {
    display: block;
    max-width: 33vw;      
    margin: 30px auto 10px auto; 
    line-height: 1.7;
    text-align: left;
    font-size: 16px;
    padding: 0 1rem;
}

.main-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: rgb(20, 20, 77);
    background-color: #e99416;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Montserrat Light', sans-serif;
    margin: 20px auto 0 auto;
    transition: background-color 0.3s;
    
}

.main-button:hover {
    background-color: rgb(250, 202, 106);
    cursor: pointer;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.letter-text {
    margin-left: 40px;
    margin-right: 40px;
}

.download-button {
    margin-left: 40px;
}