body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    text-align: justify;
    margin: 1cm;
}

.pdf-logo {
    width: 250px;
    display: block;
    margin: 0 auto 50px auto;
}

.bold-underlined {
    font-weight: bold;
    text-decoration: underline;
}

.content h1 {
    text-align: center;
}

@page {
    size: A4;
    margin: 2cm;
}

.pdf-footer {
    position: fixed;
    bottom: 0.5;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 8pt;
}

